#sign-layout
    @apply flex flex-col justify-center items-center mx-auto px-4
    max-width 320px
    min-height 100vh
    min-height -webkit-fill-available

    & > .title
        @apply font-semibold text-4xl text-gray-700

    & > .sub-title
        @apply font-light text-lg text-gray-700 mt-1 mb-6